<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.class }} pa4-l normal">
    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script src='/assets/scripts/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    {% if page.custom_includes %}
      {% for include_file in page.custom_includes %}
        {% include meta/{{ include_file }}.html %}
      {% endfor %}
    {% endif %}
  </body>
</html>